body {
	overflow: hidden;
}

.container {
	height: 40vh;
}

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 75%;
}

.form__field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid $gray;
	outline: 0;
	font-size: 1.3rem;
	color: #1c1c1c;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;

	&::placeholder {
		color: transparent;
	}

	&:placeholder-shown ~ .form__label {
		font-size: 1.3rem;
		cursor: text;
		top: 20px;
	}
}

.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: $gray;
	text-align: center;
}

.form__field:focus {
	~ .form__label {
		position: absolute;
		top: 0;
		// display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: #1c1c1c;
		font-weight: 700;
	}
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #1c1c1c, rgb(122, 50, 50));
	border-image-slice: 1;
}
/* reset input */
.form__field {
	&:required,
	&:invalid {
		box-shadow: none;
	}
}

.btn {
	color: white;
	background-color: #1c1c1c;
}

.btn:hover {
	color: white;
	background-color: #131313;
}

a {
	color: #131313;
}

a:hover {
	color: #0e0d0d;
}

// .img-container {
// 	position: absolute;
// 	top: 60%;
// 	right: 20%;
// }
